.disabled{
    background-color: green;
}

button:focus{
    outline: none !important;
    box-shadow: none;
}

.main-box{
    width: 100%;
    height: 100%;
}

.banner{
    width: 100%;
    height: 75px;
    line-height: 75px;
    background-color: rgb(255, 0, 200);
}

.banner > h1{
    text-align: center;
    color: white;
    margin: 0;
    vertical-align: middle;
}

.prompt-casing{
    width: 300px;
    height: calc(100% - 75px);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.prompt-casing > button{
    margin: 70px 0 0 0;
    position: relative;
    width: 100%;
    height: 100px;
    text-align: center;
    border: 3px solid rgb(71, 0, 0);
    background: white;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

.heart-casing:hover:not([disabled]){
    cursor: pointer;
    background: rgb(255, 173, 173) !important;
    border: 3px solid white !important;
    border-radius: 50%;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

.heart {
    pointer-events:none;
    background-image: url("./../../assets/heart.png");
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    height: 90px;
    width: 90px;
}

.heart-blink {
    -webkit-animation: blinker 2s linear infinite; /* Safari 4+ */
    -moz-animation:    blinker 2s linear infinite; /* Fx 5+ */
    -o-animation:      blinker 2s linear infinite; /* Opera 12+ */
    animation:         blinker 2s linear infinite; /* IE 10+, Fx 29+ */
    background-color: rgb(255, 173, 173) !important;
    border: 3px solid white !important;
    border-radius: 50%;
    pointer-events:none;
}

@keyframes blinker {
    50% {
        opacity: 0;
        width: 100px;
        margin-left: calc(50% - 50px);
    }
}

.beep-boop-casing:hover:not([disabled]){
    cursor: pointer;
    border: 3px solid white !important;
    border-radius: 50%;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

.beep-boop{
    pointer-events:none;
    background-image: url("./../../assets/poke.png");
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    height: 90px;
    width: 90px;
}

.beep-boop-blink{
    border: none;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

.beep-boop-blink > div{
    width: 0px;
    height: 0px;
    margin: auto;
    opacity: 0;
    top:0;left:0;right:0;bottom:0;
    border: 1px solid black;
    z-index: 100;
    position: absolute;
    border-radius: 100%;
    -webkit-animation: expand 0.5s ease-in 1; /* Safari 4+ */
    -moz-animation:    expand 0.5s ease-in 1; /* Fx 5+ */
    -o-animation:      expand 0.5s ease-in 1; /* Opera 12+ */
    animation:         expand 0.5s ease-in 1; /* IE 10+, Fx 29+ */
}

@keyframes expand{
    0%{
        opacity: 1;
        width: 0px;
        height: 0px;
    }
    70%{
        width: 60%;
        height: 60%;
        opacity: 1;
    }
    100%{
        width: 100%;
        height: 100%;
        opacity: 0;
        border-radius: 0;
        
    }
}

.kill-casing:hover:not([disabled]){
    cursor: pointer;
    border: 3px solid white !important;
    border-radius: 50%;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

.kill{
    pointer-events:none;
    background-image: url("./../../assets/kill.png");
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    height: 90px;
    width: 90px;
}

.kill-blink{
    -webkit-animation: blackFlash 2s linear infinite; /* Safari 4+ */
    -moz-animation:    blackFlash 2s linear infinite; /* Fx 5+ */
    -o-animation:      blackFlash 2s linear infinite; /* Opera 12+ */
    animation:         blackFlash 2s linear infinite; /* IE 10+, Fx 29+ */
    background-color: black !important;
    border: 3px solid white !important;
}

@keyframes blackFlash{
    10% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    70% {
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}