<div class="main-box">
  <div class="banner">
    <h1>Liz's Playground</h1>
  </div>
  <div class="prompt-casing">
    <button class="heart-casing" (click)="heart_click($event)" [disabled]="isFlashingLight"><span class="heart">  </span></button>
    <button class="beep-boop-casing" (click)="beep_boop_click($event)" [disabled]="isFlashingLight" id="poke-container"><span class="beep-boop"></span><div></div></button>
    <button class="kill-casing" (click)="kill_click($event)" [disabled]="isFlashingLight" id="kill-container"><span class="kill"></span></button>
  </div>
</div>